* {
  border: 1px black solid;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

#resultsColumn {
  overflow: hidden;
  background-color: lightblue;
  float: left;
  width: 25%;
}

/* #resultsColumn article {
  float: left;
  width: 25%; */
}

#resultsArticle {
  /* display: none; */
}

figure {
  float: left;
  max-width: 25%;
  padding: 3vw;
  margin: 0;
}

img {
  width: 100%;
}

#textBlock {
  display: inline-block;
  text-align: justify;
  width: 50vw;
  margin-left: 40%;
  margin-right: 15%;
}

#mychart {
  margin-left: auto;
  margin-right: auto;
}

#intro {
  overflow: hidden;
  background-color: lightpink;
  float: right;
  width: 75%;
}